* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  background-image: linear-gradient(
    to bottom,
    rgb(8, 40, 44),
    rgb(17, 36, 52)
  );
  color: blanchedalmond;
}
header {
  padding: 1em;
  box-shadow: 1px 1px 1px blanchedalmond;
}
main {
  width: auto;
  max-width: 1200px;
  margin: auto;
  padding: 2em;
}
h1,
h2 {
  text-align: center;
  margin: auto;
  font-size: 1.7rem;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
iframe {
  margin: 1em;
}